.input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .input textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    resize:none;
    background-color:#202023;
    border: 0.1px solid rgb(60, 60, 60);
    color: white;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #3498db #f0f0f0;
  }

  .input textarea::-webkit-scrollbar {
    width: 10px;
  }
  
  .input textarea::-webkit-scrollbar-thumb {
    background-color: #ffffffc2;
    border-radius: 5px;
  }
  
  .input textarea::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
  }
  
  .input textarea:focus {
    outline: none;
  }

  .input strong {
    color: #fee912;
  }

  button {
  background-color: #202023;
  color: rgb(255, 255, 255);
  border: 0.1px solid rgb(60, 60, 60);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}