.nav {
    padding: 10px 0px;
    color: white;
    width: 100%;
    position: absolute;
}

.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    margin-right: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 40px;
    transform: scaleX(-1);
    opacity: 0.9;
}


.nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 15px;
    font-size: 16px;
    font-weight: 500;
    list-style: none;
}

.nav-list__link {
    color: white;
    text-decoration: none;
}

.nav-list__link:hover {
    color: #fee912;
}

.nav-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 5px 0px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
}

@media (max-width: 620px) {
    .logo {
        font-size: 12px;
    }
    .nav-list {
        font-size: 10px;
        column-gap: 5px;
    }
}

